// IMAGE
#hover-img {
    img {
      transition: transform 0.5s ease-in-out;
    }
  
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

// TEXT COLOR
.hover-accent {
    &:hover,
    &:focus {
        color: $accent !important;
    }
}